---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

blockquote {
  border-left: 3px solid #d2dbe4;
  background-color: #e9edf1;
  padding: 0.5rem 1rem !important;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  p {
    margin: auto !important;
  }
}